body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
  }

header {
   background-color: var(--purple-bg);
   margin: 0;
   padding: 0;
}

.toggle-button {
    padding-top: .5em;
    position: absolute;
    top: .75rem;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
}

.toggle-button .bar {
    height: 5px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
       
}

.logo {
    padding-top: 1em;
    padding-left: 5%;
    
}

ul {
    padding: 0;
    margin: 0;
}


.navbar-links {
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    display: none; 
    width: auto;
    
    
}

.navbar-links li {
    list-style: none;
    
}

.navbar-links li a {
    text-decoration: none;
    color: var(--white);
    width: 95%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    transition: 1s;
    padding-left: 5%;
     
}

.navbar-links a:hover {
    color: var(--button-bg);
}


.div-search {
    width: 25%;
    height: 3em;
    
}

.div-search input {
    padding-top: .3em;
   
}

.div-search button {
    padding-bottom: .8em;
    padding-top: .16em;
    height: 101%;
    width: 4em;
    background-color: var(--button-bg);
    border: none;
    border-radius: 5%;
}

.div-search input ,button {
    height: 3em;
    padding-left: 2%;
    margin-left: 5%;
}

button {
    padding: 0;
    margin: 0;
}
.button-search svg {
    align-items: center;
    padding-left: -20px;
}
.button-search:hover {
    background-color: var(--dark-bg);
}

.main-text {
    font-family: 'Poppins', sans-serif;
    background-color: var(--purple-bg);
    border-bottom: 4px solid var(--green);
}

.main-text h1 {
    margin-top: 0;
    color: var(--button-bg);
    text-align: justify;
    padding: 2em 5% 0 5%;

}

.main-text img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}

.main-text p {
    color: var(--light-purple);
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    font-weight: 400;

}

.veja {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    width: 8em;
    margin-left: 5%;
    padding: 0;
}

.veja h5 {
    color: var(--button-bg);
    margin: 0;
    font-size: 1.5Sem;
}

.arrow {
    height: 2em;
    max-width: 2em;
    margin: 0;
    
}

.p-desk {
    display: none;
}

.p-mob {
    margin-bottom: 2%;
}

.navbar-links.active {
    display: flex;
    
}

main {
    background-color: var(--white);
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10%;
}

.big {
    margin-top: 5%;
    
    border-bottom: 2px solid var(--button-bg);
    
}

.big img {
    width: 100%;
    
    
}

.big-b {
    border-bottom: 2px solid var(--button-bg);
}

.big p {
    font-size: 1em;
}

.big h5 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.big-b p{
    font-size: 1em;
}

.big-b h5 {
    margin-top: .5em;
    margin-bottom: .3em;
}

.post-main {
    border-bottom: 2px solid var(--button-bg);
}

.post-main img{
    margin-top: 1em;
    width: 100%;
    
}

.post-main p{
    font-size: 1em;
}

.post-main h5{
    margin-top: .5em;
    margin-bottom: .3em;
}

@media screen and (min-width: 1150px) {

    .logo {
        padding-left: 0;
    }
    
    .toggle-button{
        display: none;
    }

    .nav-desk {
        display: flex;
        padding-top: 2%;
        padding-left: 5%;    
        position: relative; 
    }

    .navbar-links {
        margin-top: 1.5em;
        display: flex;
        font-size: 1em;
        height: 2em;
        position: absolute;
        left: 25%;
        right: 50%; 
    }

    .div-search {
        margin-left: 5%;
        right: 5%;
        position: absolute;
        text-align: right;
        padding-top: 1em;
    }

    .navbar-links li {
        text-align: center;
        
    }

    .navbar-links li a {
        border: none;
        padding-top: .1em;
        padding-left: .5em;
        padding-right: .5em;  
    }

    .navbar-links ul {
        display: flex;
        
        
    }

    .main-text-1 {
        margin: 5%;
        margin-bottom: 1%;
        display: flex;
        margin-left: 5%;  
    }

    .main-text-1 h1 {
        padding: 0;
    }

    .main-text-1 p {
        margin: 0;
    }
    
    .main-text-1 img {
        width: 50%;
        height: 25em;
        margin-bottom: 5%;
    }

    .p-mob {
        display: none;
    }

    .p-desk {
        display: grid;
    }

    .veja {

        height: 1em;
        font-size: 1.3em;
        margin: 2% 0 0 0;
    }
    
    .arrow {
        max-height: 20px;
        margin-top: 5%;
        
    }

    .big-main {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    .big {
        border: none;
    }

    .big img{
        width: 100%;
        height: 20em;
    }

    .big-b {
        margin: 5% 0 0 5%;
        border: none;
    }

    .post-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .post-1 {
        width: 100%;
    }

    .post-2 {
        width: 100%;  
    }

    .post-3 {
        width: 100%; 
    }

    .post-1 img{
        margin-right: 1%;
        width: 100%;
        height: 15em;
    }

    .post-2 img{
        width: 100%;
        height: 15em;
    }

    .post-3 img{
        margin-left: 1%;
        width: 100%;
        height: 15em;
    }
    

}